BasedOnStyle: LLVM
Language: Cpp

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty

PointerAlignment: Left
ReferenceAlignment: Left
SpaceAfterTemplateKeyword: false
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles: false

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true
AlignTrailingComments: true

BinPackArguments: true
BinPackParameters: true

IncludeBlocks: Preserve
SortIncludes: false

IndentCaseLabels: false
IndentPPDirectives: None
NamespaceIndentation: None

MaxEmptyLinesToKeep: 2
KeepEmptyLinesAtTheStartOfBlocks: false

Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: false
